---

- name: include OS specific configuration ({{ ansible_distribution }} ({{ ansible_os_family }}) {{ ansible_distribution_major_version }})
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      paths:
        - "vars"
      files:
        # eg. debian-10 / ubuntu-20.04 / centos-8 / oraclelinux-8
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
        # eg. archlinux-systemd / archlinux-openrc
        - "{{ ansible_distribution | lower }}-{{ ansible_service_mgr | lower }}.yml"
        # eg. debian / ubuntu / centos / oraclelinux
        - "{{ ansible_distribution | lower }}.yml"
        # eg. redhat / debian / archlinux
        - "{{ ansible_os_family | lower }}.yml"
        # artixlinux
        - "{{ ansible_os_family | lower | replace(' ', '') }}.yml"
        - default.yaml
      skip: true

- name: update package cache
  ansible.builtin.package:
    update_cache: true

- name: install dependency
  ansible.builtin.package:
    name: "{{ glauth_requirements }}"
    state: present
  when:
    - glauth_requirements | default([]) | count > 0

- name: latest release
  when:
    - glauth_version == "latest"
  block:
    - name: get latest release
      delegate_to: localhost
      become: false
      run_once: true
      ansible.builtin.uri:
        url: "{{ glauth_release_api_url }}/latest"
        method: GET
        return_content: true
        status_code: 200
        body_format: json
        validate_certs: false
        user: "{{ lookup('env', 'GH_USER') | default(omit) }}"
        password: "{{ lookup('env', 'GH_TOKEN') | default(omit) }}"
      # no_log: "{{ not lookup('env', 'ANSIBLE_DEBUG') | bool }}"
      register: _latest_release
      until: _latest_release.status == 200
      retries: 5

    - name: re-define glauth_version
      ansible.builtin.set_fact:
        glauth_version: "{{ _latest_release.json.tag_name[1:] }}"

- name: define delegate instance for download handling
  ansible.builtin.set_fact:
    glauth_delegate_to: "{{ ansible_host }}"
    glauth_local_tmp_directory: "{{
        lookup('env', 'CUSTOM_LOCAL_TMP_DIRECTORY') |
        default('/var/cache/ansible/glauth', true) }}/{{ glauth_version }}"
  when:
    - glauth_direct_download

- name: detect our installation path '{{ glauth_install_path | dirname }}'
  ansible.builtin.stat:
    path: "{{ glauth_install_path | dirname }}"
    get_checksum: false
  register: stat_glauth_path
  ignore_errors: true

- name: old installation
  when:
    - stat_glauth_path is defined
    - stat_glauth_path.stat is defined
    - stat_glauth_path.stat.isdir is defined
    - not stat_glauth_path.stat.isdir
  block:
    - name: stop old service
      ansible.builtin.service:
        name: glauth
        state: stopped
        enabled: false
      notify:
        - daemon-reload

    - name: remove installed systemd unit
      ansible.builtin.file:
        state: absent
        path: /etc/systemd/system/glauth.service
      when:
        - ansible_service_mgr | lower == "systemd"

    - name: remove installed glauth
      ansible.builtin.file:
        state: absent
        path: "{{ stat_glauth_path.stat.path }}"

- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: detect installed glauth binary
  ansible.builtin.stat:
    path: "{{ glauth_install_path }}/glauth"
  register: stat_glauth_binary

- name: user and group handling
  when:
    - glauth_system_user != "root"
  block:
    - name: create glauth group
      ansible.builtin.group:
        name: "{{ glauth_system_group }}"
        state: present
        system: true

    - name: create glauth user
      ansible.builtin.user:
        name: "{{ glauth_system_user }}"
        groups: "{{ glauth_system_group }}"
        append: true
        shell: /usr/sbin/nologin
        system: true
        createhome: false
        home: /nonexistent

- name: create download directory
  become: false
  delegate_to: "{{ glauth_delegate_to }}"
  ansible.builtin.file:
    path: "{{ glauth_local_tmp_directory }}"
    state: directory
    mode: 0750

- name: create install directory
  ansible.builtin.file:
    path: "{{ glauth_install_path }}"
    state: directory
    owner: "{{ glauth_system_user }}"
    group: "{{ glauth_system_group }}"
    mode: 0755

- name: create ansible facts directory
  ansible.builtin.file:
    dest: /etc/ansible/facts.d
    state: directory
    owner: root
    group: root
    mode: 0775

- name: merge glauth configuration between defaults and custom
  ansible.builtin.set_fact:
    glauth_service: "{{ glauth_defaults_service | combine( glauth_service, recursive=True) }}"
    glauth_config: "{{ glauth_defaults_config | combine( glauth_config, recursive=True) }}"
    glauth_backends: "{{ glauth_defaults_backends | combine( glauth_backends, recursive=True) }}"
    glauth_users: "{{ glauth_defaults_users | combine( glauth_users, recursive=True) }}"
    glauth_groups: "{{ glauth_defaults_groups | combine( glauth_groups, recursive=True) }}"
    glauth_behaviors: "{{ glauth_defaults_behaviors | combine( glauth_behaviors, recursive=True) }}"
    glauth_api: "{{ glauth_defaults_api | combine( glauth_api, recursive=True) }}"

...
