---

- name: include OS specific configuration ({{ ansible_distribution }} ({{ ansible_os_family }}) {{ ansible_distribution_major_version }})
  include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      paths:
        - "vars"
      files:
        # eg. debian-10 / ubuntu-20.04 / centos-8 / oraclelinux-8
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
        # eg. archlinux-systemd / archlinux-openrc
        - "{{ ansible_distribution | lower }}-{{ ansible_service_mgr | lower }}.yml"
        # eg. debian / ubuntu / centos / oraclelinux
        - "{{ ansible_distribution | lower }}.yml"
        # eg. redhat / debian / archlinux
        - "{{ ansible_os_family | lower }}.yml"
        - default.yaml
      skip: true

- name: update package cache
  package:
    update_cache: true

- name: define delegate instance for download handling
  set_fact:
    glauth_delegate_to: "{{ ansible_host }}"
    glauth_local_tmp_directory: "{{
        lookup('env', 'CUSTOM_LOCAL_TMP_DIRECTORY') |
        default('/var/cache/ansible/glauth', true) }}/{{ glauth_version }}"
  when:
    - glauth_direct_download

- name: install dependency
  package:
    name: "{{ glauth_requirements }}"
    state: present

- block:
    - name: get latest release
      uri:
        url: "https://api.github.com/repos/glauth/glauth/releases/latest"
        method: GET
        return_content: true
        status_code: 200
        body_format: json
        validate_certs: false
        user: "{{ lookup('env', 'GH_USER') | default(omit) }}"
        password: "{{ lookup('env', 'GH_TOKEN') | default(omit) }}"
      # no_log: "{{ not lookup('env', 'ANSIBLE_DEBUG') | bool }}"
      register: _latest_release
      until: _latest_release.status == 200
      retries: 5

    - name: set glauth version to {{ _latest_release.json.tag_name[1:] }}
      set_fact:
        glauth_version: "{{ _latest_release.json.tag_name[1:] }}"
  when:
    - glauth_version == "latest"

- name: detect our installation path '{{ glauth_install_path | dirname }}'
  stat:
    path: "{{ glauth_install_path | dirname }}"
    get_checksum: false
  register: stat_glauth_path
  ignore_errors: true

- name: old installation
  block:
    - name: stop old service
      service:
        name: glauth
        state: stopped
        enabled: false
      notify:
        - daemon-reload

    - name: remove installed systemd unit
      file:
        state: absent
        path: /etc/systemd/system/glauth.service
      when:
        - ansible_service_mgr | lower == "systemd"

    - name: remove installed glauth
      file:
        state: absent
        path: "{{ stat_glauth_path.stat.path }}"
  when:
    - stat_glauth_path is defined
    - stat_glauth_path.stat is defined
    - stat_glauth_path.stat.isdir is defined
    - not stat_glauth_path.stat.isdir

- name: flush handlers
  meta: flush_handlers

- name: detect installed glauth binary
  stat:
    path: "{{ glauth_install_path }}/glauth"
  register: stat_glauth_binary

- name: create download directory
  become: false
  delegate_to: "{{ glauth_delegate_to }}"
  file:
    path: "{{ glauth_local_tmp_directory }}"
    state: directory
    mode: 0750

- name: user and group handling
  block:
    - name: create glauth group
      group:
        name: "{{ glauth_system_group }}"
        state: present
        system: true

    - name: create glauth user
      user:
        name: "{{ glauth_system_user }}"
        groups: "{{ glauth_system_group }}"
        append: true
        shell: /usr/sbin/nologin
        system: true
        createhome: false
        home: /nonexistent
  when:
    - glauth_system_user != "root"

- name: create install directory
  file:
    path: "{{ glauth_install_path }}"
    state: directory
    owner: "{{ glauth_system_user }}"
    group: "{{ glauth_system_group }}"
    mode: 0755

- name: create ansible local facts directory
  file:
    dest: /etc/ansible/facts.d
    state: directory
    owner: root
    group: root
    mode: 0775

- name: merge glauth service configuration between defaults and custom
  set_fact:
    glauth_service: "{{ glauth_defaults_service |
      combine( glauth_service, recursive=True) }}"

- name: merge glauth config configuration between defaults and custom
  set_fact:
    glauth_config: "{{ glauth_defaults_config |
      combine( glauth_config, recursive=True) }}"

- name: merge glauth backends configuration between defaults and custom
  set_fact:
    glauth_backends: "{{ glauth_defaults_backends |
      combine( glauth_backends, recursive=True) }}"

- name: merge glauth users configuration between defaults and custom
  set_fact:
    glauth_users: "{{ glauth_defaults_users |
      combine( glauth_users, recursive=True) }}"

- name: merge glauth groups configuration between defaults and custom
  set_fact:
    glauth_groups: "{{ glauth_defaults_groups |
      combine( glauth_groups, recursive=True) }}"

- name: merge glauth behaviors configuration between defaults and custom
  set_fact:
    glauth_behaviors: "{{ glauth_defaults_behaviors |
      combine( glauth_behaviors, recursive=True) }}"

- name: merge glauth api configuration between defaults and custom
  set_fact:
    glauth_api: "{{ glauth_defaults_api |
      combine( glauth_api, recursive=True) }}"

...
