#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

# GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}

user="{{ glauth_system_user }}"
group="{{ glauth_system_group }}"

command_args="
{% if glauth_service is defined %}
  --config {{ glauth_config_dir }}/glauth.conf
{% endif %}
"

