---

- name: restart glauth
  become: true
  service:
    name: glauth
    state: restarted

- name: reload glauth
  become: true
  service:
    name: glauth
    state: reloaded

- name: validate config
  command: |
    glauth --check-config -c {{ glauth_config_dir }}/glauth.conf
  when:
    - glauth_version is version_compare('2.2.0', '>=')

- name: daemon-reload
  become: true
  systemd:
    daemon_reload: true
    force: true
  when:
    - ansible_service_mgr | lower == "systemd"

...
