
{% if glauth_api is defined %}
[api]
  enabled     = {{ glauth_api.enabled | default('false') | bool | ternary('true', 'false') }}
  listen      = "{{ glauth_api.listen.address | default('127.0.0.1') }}:{{ glauth_api.listen.port | default('5555') }}"
  {% if glauth_api.tls.enabled | default('false') | bool and
        glauth_api.tls.cert_file | default('') | string | length > 0 and
        glauth_api.tls.key_file | default('') | string | length > 0 %}
  tls         = {{ glauth_api.tls.enabled | default('false') | bool | ternary('true', 'false') }}
  cert        = "{{ glauth_api.tls.cert_file }}"
  key         = "{{ glauth_api.tls.key_file }}"
  {% endif %}
  internals   = {{ glauth_api.internals | default('false') | bool | ternary('true', 'false') }}
  {% if glauth_api.secret_token | default('') | string | length > 0 %}
  secrettoken = "{{ glauth_api.secret_token }}"
  {% endif %}
{% endif %}
